<li class="list-group-item list-group-item-action d-flex<%= active_item(store) %>" id="store_<%= store.id %>">
  <div style="width: 100%; padding-left: 10px;">
    <div class="row">
      <div class="col-7 col-md-10">
        <div class="row">
          <div class="col-12 col-md-6">
            <%= link_to store.manager_name, store_path(store.id) %>
            <% if store.percent != 0 %>
              <span class="ms-1 badge text-bg-<%= store.percent > 0 ? 'success' : 'danger' %>">
                <%= store.percent %>%
              </span>
            <% end %>
          </div>
          <div class="col-12 col-md-6 mt-1 mt-md-0">
            <span><i class="bi bi-telephone"></i> <%= store.contact_phone %></span>
          </div>
        </div>
      </div>

      <div class="col-5 col-md-2 d-flex justify-content-end align-items-center gap-2" title="<%= store.active ? 'Активен' : 'Не активен' %>">
        <% if store.active %>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-toggle-on" viewBox="0 0 16 16">
            <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8"/>
          </svg>
        <% else %>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-toggle-off" viewBox="0 0 16 16">
            <path d="M11 4a4 4 0 0 1 0 8H8a5 5 0 0 0 2-4 5 5 0 0 0-2-4zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8M0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5"/>
          </svg>
        <% end %>

        <%= link_to edit_store_path(store.id), class: "btn btn-warning btn-sm",
                    style: 'max-height: 39px;', title: 'Править' do %>
          <i class="bi bi-pen"></i>
        <% end %>

        <div style="display: inline-block;">
          <%= button_to store_path(store.id), method: :delete, class: 'btn btn-danger btn-sm', title: 'Удалить магазин',
                        data: { confirm: 'Are you sure you want to delete this store?',
                                controller: 'confirm', action: 'click->confirm#call' } do %>
            <i class="bi bi-trash"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</li>
