<div class="container">
  <h1>Магазин <%= @store.manager_name %></h1>
  <%= form_with(model: @store, url: store_path(@store.id), method: :patch) do |form| %>

    <% if @store.errors.any? %>
      <div id="error_explanation">
        <h3>Возникли ошибки:</h3>
        <ul>
          <% @store.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.label :manager_name, class: 'form-label' %>
      <%= form.text_field :manager_name, value: @store.manager_name, class: 'form-control', placeholder: 'Manager name' %>
    </div>

    <div class="mb-3">
      <%= form.label :var, class: 'form-label' %>
      <%= form.text_field :var, value: @store.var, class: 'form-control', style: 'width: 100%', placeholder: 'var' %>
    </div>

    <div class="mb-3">
      <%= form.label :ad_status, class: 'form-label' %>
      <%= form.text_field :ad_status, value: @store.ad_status, class: 'form-control', placeholder: 'Ad status' %>
    </div>

    <div class="mb-3">
      <%= form.label :category, class: 'form-label' %>
      <%= form.text_field :category, value: @store.category, class: 'form-control', placeholder: 'Category' %>
    </div>

    <div class="mb-3">
      <%= form.label :goods_type, class: 'form-label' %>
      <%= form.text_field :goods_type, value: @store.goods_type, class: 'form-control', placeholder: 'Goods type' %>
    </div>

    <div class="mb-3">
      <%= form.label :ad_type, class: 'form-label' %>
      <%= form.text_field :ad_type, value: @store.ad_type, class: 'form-control', placeholder: 'Ad type' %>
    </div>

    <div class="mb-3">
      <%= form.label :type, class: 'form-label' %>
      <%= form.text_field :type, value: @store.type, class: 'form-control', placeholder: 'Type' %>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Общее описание</label>
      <%= form.text_area :description, value: @store.description, size: '50x7',
                         class: 'form-control', placeholder: 'Description' %>
    </div>

    <div class="mb-3">
      <label for="desc_game" class="form-label">Описание для Игр</label>
      <%= form.text_area :desc_game, value: @store.desc_game, size: '50x5',
                         class: 'form-control', placeholder: 'Описание для Игр' %>
    </div>

    <div class="mb-3">
      <label for="desc_product" class="form-label">Описание для других объявлений</label>
      <%= form.text_area :desc_product, value: @store.desc_product, size: '50x5',
                         class: 'form-control', placeholder: 'Описание для других объявлений' %>
    </div>

    <div class="mb-3">
      <label for="condition" class="form-label">Condition</label>
      <%= form.text_field :condition, value: @store.condition, class: 'form-control', placeholder: 'Condition' %>
    </div>

    <div class="mb-3">
      <label for="allow_email" class="form-label">Allow email</label>
      <%= form.text_field :allow_email, value: @store.allow_email,
                          class: 'form-control', placeholder: 'Allow email' %>
    </div>

    <div class="mb-3">
      <label for="contact_phone" class="form-label">Телефон</label>
      <%= form.text_field :contact_phone, value: @store.contact_phone,
                          class: 'form-control', placeholder: 'Сontact phone' %>
    </div>

    <div class="mb-3">
      <label for="contact_method" class="form-label">Способ связи</label>
      <%= form.select :contact_method,
                      options_for_select(
                        ['По телефону и в сообщениях', 'По телефону', 'В сообщениях'],
                        @store.contact_method),
                      {}, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <label for="game_img_params" class="form-label">Параметры картинки игры</label>
      <%= form.text_area :game_img_params, value: @store.game_img_params, class: 'form-control', size: '50x1',
                          placeholder: "нужно указать ввиде json: { pos_x: 448, pos_y: 208, row: 1024, column: 1024 }" %>
    </div>

    <div class="mb-3">
      <%= form.label :menuindex, 'Расположение картинки в слоях изображения для авито', class: 'form-label' %>
      <%= form.text_field :menuindex, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :client_id, class: 'form-label' %>
      <%= form.text_field :client_id, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :client_secret, class: 'form-label' %>
      <%= form.text_field :client_secret, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.check_box :active, { checked: @store.active, class: 'form-check-input' } %>
      <%= form.label :active, class: 'form-check-label' %>
    </div>

    <div class="mb-3">
      <%= form.submit 'Save', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
