<div class="container">
  <h1>Магазин <%= @store.manager_name %></h1>
  <ul class="list-group">
    <% colum_names = @store.attributes.keys %>
    <% colum_names.each do |name| %>
      <li class="list-group-item list-group-item-action">
        <strong><%= name %>: </strong><%= @store.send(name.to_sym) %>
      </li>
    <% end %>
  </ul>
  <a href="<%= edit_store_path(@store.id) %>" class='mt-3 btn btn-primary'>Edite</a>

  <div class="mb-3"></div>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Адреса магазина</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Слои картинки</button>
    </li>
  </ul>

  <div class="mt-3"></div>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <ul class="list-group">
        <%= render @addresses %>
        <%= render '/addresses/new' %>
      </ul>
    </div>

    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <ol class="list-group list-group-numbered">
        <%= render @image_layers %>
        <%= render '/image_layers/new' %>
      </ol>
    </div>
  </div>
</div>
