<% content_for :title do %>
  Магазин <%= @store.manager_name %>
<% end %>

<% content_for :head do %>
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=369d354e-0df0-4d9d-bb3a-08bc6a532a15" type="text/javascript"></script>
<% end %>

<div class="container">
  <ul class="list-group">
    <% @store.attributes.keys.reject { |i| i.match?(/^id|created_at|updated_at/) }.each do |name| %>
      <li class="list-group-item list-group-item-action overflow-hidden">
        <strong><%= name %>: </strong><%= @store.send(name.to_sym) %>
      </li>
    <% end %>
  </ul>

  <div class="buttons-group">
    <div>
      <a href="<%= edit_store_path(@store.id) %>" class='mt-3 btn btn-warning'>Edite</a>
    </div>
    <div>
      <%= button_to 'Обновить feed', store_update_feed_path(@store),
                    class: 'loader-btn mt-3 btn btn-success',
                    data: { controller: 'btn_preloader', action: 'click->btn_preloader#call' } %>
    </div>
  </div>

  <ul class="nav nav-tabs mt-3 mt-md-5" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Адреса магазина</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Слои картинки</button>
    </li>
  </ul>

  <div class="tab-content mt-3" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <%= render partial: '/addresses/new_address_btn', locals: { store: @store } %>

      <ul class="list-group" id="addresses">
        <%= render @addresses %>
      </ul>
    </div>

    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <ol class="list-group list-group-numbered" id="layers">
        <%= render @image_layers %>
      </ol>
      <ul class="list-group mt-3">
        <%= render '/image_layers/new' %>
      </ul>
    </div>
  </div>
</div>
