<li class="list-group-item <%= image_layer.active ? 'list-group-item-secondary' : 'list-group-item-danger' %>">
  <%= form_with(model: image_layer, url: image_layer_path(image_layer), method: :patch, format: :turbo_stream) do |form| %>
    <div class="row">
      <div class="col-12 mb-3">
        <%= form.label :layer_params, 'layer_params', class: 'form-label' %>
        <%= form.text_area :layer_params, value: image_layer.layer_params, size: '50x1', class: 'form-control', style: 'width: 100%' %>
      </div>

      <% if image_layer.layer.attached? %>
        <div class="col-12 col-md-1" style="word-wrap: break-word;">
          <% if image_layer.layer.blob.content_type.match?(/font/) %>
            <%= image_layer.layer.blob.filename %>
          <% else %>
            <%= image_tag url_for(image_layer.layer), class: 'img-fluid', style: 'max-height: 100px;' %>
          <% end %>
        </div>
      <% end %>

      <div class="col-12 col-md-3">
        <%= form.label :layer, 'Указать изображение или шрифт', class: 'form-label' %>
        <%= form.file_field :layer, class: 'form-control' %>
      </div>

      <div class="col-12 col-md-2">
        <%= form.label :layer_type, 'layer_type', class: 'form-label' %>
        <%= form.select :layer_type, ImageLayer.layer_types.keys.map { |type| [type.humanize, type] }, {}, { class: 'form-select' } %>
      </div>

      <div class="col-12 col-md-1">
        <%= form.label :menuindex, 'menuindex', class: 'form-label' %>
        <%= form.text_field :menuindex, value: image_layer.menuindex, class: 'form-control', style: 'width: 100%' %>
      </div>

      <div class="col-12 col-md-4">
        <%= form.label :title, 'title', class: 'form-label' %>
        <%= form.text_field :title, value: image_layer.title, class: 'form-control', style: 'width: 100%' %>
      </div>

      <div class="col-12 col-md-1">
        <%= form.check_box :active, class: 'form-check-input', id: "active-checkbox-#{image_layer.id}" %>
        <%= form.label :active, class: 'form-check-label', for: "active-checkbox-#{image_layer.id}" %>
        <%= form.submit 'Edite', class: 'btn btn-warning', style: 'width: 100%; padding: 2px;' %>
      </div>
    </div>
  <% end %>
</li>