<li class="list-group-item list-group-item-action">
  <%= form_with(model: @setting, url: '/settings', method: :post) do |form| %>
    <div class="row">
      <div class="col-12 col-md-2">
        <%= form.text_field :var, placeholder: 'Ввведите имя переменной', class: 'form-label' %>
      </div>

      <div class="col-12 col-md-3">
        <%= form.text_field :value, placeholder: 'Ввведите значение переменной', class: 'form-label', style: 'width: 100%' %>
      </div>

      <div class="col-12 col-md-6">
        <%= form.text_field :description, placeholder: 'Ввведите описание переменной', class: 'form-label', style: 'width: 100%' %>
      </div>

      <div class="col-12 col-md-1">
        <%= form.submit 'Add', class: 'btn btn-primary', style: 'width: 100%; padding: 2px;' %>
      </div>
    </div>
  <% end %>
</li>
