<li class="list-group-item list-group-item-action mobile-list-top-border" id="setting_<%= setting.id %>">
  <%= form_with(model: setting, url: setting_path(setting.id), method: :patch, format: :turbo_stream) do |form| %>
    <div class="row">
      <div class="col-12 col-md-2 mb-3 mb-md-0">
        <%= setting.var %>
      </div>

      <div class="col-12 col-md-3 mb-3 mb-md-0">
        <% if setting.var == 'main_font' %>
          <%= form.file_field :font, class: 'form-control' %>
        <% else %>
          <%= form.text_field :value, value: setting.value, class: 'form-control', style: 'width: 100%' %>
        <% end %>
      </div>

      <div class="col-12 col-md-6 mb-3 mb-md-0">
        <% if setting.var == 'main_font' %>
          <% if setting.font.attached? %>
            <%= form.text_field :description, value: "Главный шрифт задан: #{setting.font.blob.filename}", class: 'form-control', style: 'width: 100%;' %>
          <% else %>
            <%= form.text_field :description, value: 'Главный шрифт не указан!', class: 'form-control', style: 'width: 100%;' %>
          <% end %>
        <% else %>
          <%= form.text_field :description, value: setting.description, class: 'form-control', style: 'width: 100%;' %>
        <% end %>
      </div>

      <div class="col-12 col-md-1">
        <%= form.submit 'Edite', class: 'btn btn-warning', style: 'width: 100%;' %>
      </div>
    </div>
  <% end %>
</li>
