<li class="list-group-item list-group-item-action game-item<%= ' list-group-item-danger' if game.game_black_list %>">
    <div class="swiper games_swiper" data-controller="swiper">
      <div class="swiper-wrapper">
        <%= render partial: '/games/image_block', locals: { game: game, model: game, title: :name } %>

        <% game.ads.active.each do |ad| %>
          <%= render partial: '/games/image_block', locals: { game: game, model: ad, title: :name } %>
        <% end %>
      </div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>

  <div style="display: inline-block;">
    <a href='<%= game_path(game) %>'>
      <h4><%= "#{game.top}. #{game.name}" %></h4>
    </a>
    <div><%= game.sony_id %></div>
    <div>Platform: <%= game.platform %></div>
    <div class="d-flex gap-3">
      <span class="badge text-bg-<%= game.deleted == 0 ? 'success' : 'danger' %>">
        <%= game.deleted == 0 ? 'Активна' : 'Удален'  %>
      </span>
      <% if game.game_black_list %>
        <span class="badge text-bg-warning">Добавлен в блэк лист</span>
      <% end %>
    </div>
  </div>
</li>
