<li class="list-group-item list-group-item-action game-item">
  <div>
    <% if game.images.attached? %>
      <div class="swiper games_swiper" data-controller="swiper">
        <div class="swiper-wrapper">
          <% game.images.each do |image|  %>
            <% if @a_a.include?(image.blob.metadata['address_id']) && @a_s.include?(image.blob.metadata['store_id']) %>
              <div class="swiper-slide">
                <a data-fancybox="gallery" data-src="<%= url_for(image) %>" data-caption="<%= game.name %>">
                  <%= image_tag url_for(image), style: 'width: 96px; height: 96px', class: "mb-1" %>
                </a>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    <% end %>
  </div>

  <div style="display: inline-block;">
    <a href='<%= game_path(game.top) %>'>
      <h4><%= "#{game.top}. #{game.name}" %></h4>
    </a>
    <div><%= game.sony_id %></div>
    <div>Platform: <%= game.platform %></div>
  </div>
</li>
