<% if game.image.attached? %>
  <div class="swiper-slide">
    <a data-fancybox="gallery_<%= game.id %>" data-src="<%= url_for(model.image) %>" data-caption="<%= game.send(title) %>">
      <div class="loading-image" style='width: 96px;'>
        <div style='background: url(<%= img_resize(model.image, width: 140, height: 100) %>); width: 96px; height: 72px; background-size: cover;' class="game-img mb-1"></div>
      </div>
    </a>
  </div>
<% else %>
  <div class="swiper-slide">
    <div style='background: url(<%= asset_path('noimage.png') %>); width: 96px; height: 72px; background-size: cover;' class="game-img mb-1"></div>
  </div>
<% end %>

