<% content_for :title do %>
  <%= "#{@game.name} top: #{@game.top}" %>
<% end %>

<div class="container game-info">
  <div class="mb-3">Platform: <%= @game.platform %></div>

  <%= turbo_frame_tag :game_black_list_buttons do %>
    <%= render '/game_black_lists/buttons' %>
  <% end %>

  <% if @game.image.attached? %>
    <%= image_tag url_for(@game.image), class: 'mt-3 mb-5' %>
  <% end %>

  <% @ads.each do |ad| %>
    <%= image_tag url_for(ad.image), class: 'mb-5' if ad.image.attached? %>
  <% end %>

  <div class="mb-3">
    <div><%= @game.sony_id %></div>
  </div>

  <%= button_to game_path(@game), method: :delete, class: 'btn btn-danger',
                data: { confirm: t('confirm.game'), controller: 'confirm', action: 'click->confirm#call' } do %>
    <i class="bi bi-trash"></i>
  <% end %>
</div>
