<div class="container">
  <% if user_signed_in? %>
    <h1><%= @game.name %>(top: <%= @game.top %>)</h1>

    <div class="mb-3">Platform: <%= @game.platform %></div>

    <%= turbo_frame_tag :game_black_list_buttons, class: 'mt-3' do %>
      <%= render '/games/game_black_list_buttons' %>
    <% end %>

    <% if @game.image.attached? %>
      <%= image_tag url_for(@game.image), style: 'width: 100%; margin: 1em 0;' %>
    <% end %>

    <% if @game.ads.present? %>
      <% @game.ads.each do |ad| %>
        <%= image_tag url_for(ad.image), style: 'width: 100%; margin: 1em 0;' %>
      <% end %>
    <% end %>

    <div style="display: inline-block;">
      <div><%= @game.sony_id %></div>
    </div>
  <% else %>
    <h3>Увы вы не автризованы(</h3>
  <% end %>
</div>
