<% content_for :title do %>
  Чаты <%= @store.manager_name %>
<% end %>

<div class="container">
 <div class="row">
   <%= render partial: '/avito/chats/left_bar' %>

   <div class="col-12 col-md-9">
     <ul class="list-group list-chats">
       <% @chats.each do |chat| %>
         <li class="list-group-item list-group-item-action">
            <%= link_to store_avito_chat_path(id: chat['id']) do %>
              <div class="row">
                <div class="col-3 col-md-1">
                  <%= image_tag (chat.dig('context', 'value', 'images', 'main', '140x105') || noimage_url), style: "height: 50px" %>
                </div>
                <div class="col-7 col-md-10">
                  <div><%= chat['users'][0]['name'] %></div>
                  <b><%= formit_ad_title(chat.dig('context', 'value')) %></b>
                  <div class="msg-last"><%= truncate_string(chat.dig('last_message', 'content', 'text'), 90) %></div>
                </div>
                <div class="col-2 col-md-1 msg-date">
                  <%= parse_date(Time.at chat.dig('last_message', 'created')) %>
                </div>
              </div>
            <% end %>
         </li>
       <% end %>
     </ul>
   </div>
 </div>
</div>
