<% content_for :title do %>
  Чаты <%= @store.manager_name %>
<% end %>

<div class="container">
 <div class="row">
   <%= render partial: '/avito/chats/left_bar' %>

   <div class="col-12 col-md-9">
     <%= turbo_frame_tag :chats do %>
       <ul class="list-group list-chats">
         <% @chats.each do |chat| %>
           <%= render partial: 'chat', locals: { chat: chat } %>
         <% end %>
       </ul>
       <%= render partial: '/avito/partials/pagy', locals: { end_page: (@chats.size >= 30 ? @page + 1 : @page), starts: 0,
                                                             path: "chats",
                                                             turbo_frame: 'chats' } %>
       <% end %>
   </div>
 </div>
</div>
