<li class="list-group-item list-group-item-action<%= method == :post ? ' list-group-item-success' : '' %> mobile-list-top-border" id="street_<%= street ? street.id : 'new' %>">
  <div class="row">
    <div class="col-12 col-md-11">
      <%= form_with(model: Street, url: url, method: method, data: { controller: "clear-form" }) do |form| %>
        <div class="row">
          <div class="col-9 col-md-11">
            <%= form.text_field :title, value: street&.title, class: 'form-control' %>
          </div>

          <div class="col-3 col-md-1">
            <% if method == :patch %>
              <%= form.submit 'Save', class: 'btn btn-warning btn-sm' %>
            <% else %>
              <%= form.submit 'Add', class: 'btn btn-primary btn-sm', data: { action: "click->clear-form#clearForm" } %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-6 col-md-1">
      <% if method == :patch %>
        <%= button_to store_street_path(id: street),
                      method: :delete, class: 'btn btn-danger mt-3 mt-md-0 btn-sm',
                      data: { confirm: 'Вы уверены, что хотите удалить данную улицу?',
                              controller: 'confirm', action: 'click->confirm#call' } do %>
          <i class="bi bi-trash"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</li>
