<% content_for :title do %>
  Настройки <%= @store.manager_name %>
<% end %>

<div class="container">
  <div class="row">
    <%= render partial: '/avito/partials/left_bar', locals: { path: :store_avito_settings_path } %>

    <div class="col-12 col-md-9">
      <h5>Подписки на webhooks</h5>
      <% @subscriptions.each do |subscription| %>
        <div class="mb-3"><%= subscription['url'] %></div>
      <% end %>

      <% if @subscriptions.any? { |i| i['url'] == @webhook_url } %>
        <%= button_to 'Отписатся', store_avito_setting_path(id: 1, subscription_del: true), method: :patch, class: 'btn btn-danger' %>
      <% else %>
        <%= button_to 'Подписаться', store_avito_setting_path(id: 1), method: :patch, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>