<li class="list-group-item list-group-item-action<%= address.active ? '' : ' list-group-item-danger' %>" id="address_<%= address.id %>">
  <%= render partial: '/addresses/form', locals: { address: address, url: address_path(address), method: :patch, data: nil } %>

  <div class="address-buttons mb-2">
    <%= button_to address_path(address),
                  method: :delete, class: 'btn btn-danger mt-3 mt-md-0 btn-sm',
                  data: { confirm: 'Вы уверены, что хотите удалить данный адресс и все с ним связанные картинки?',
                          controller: 'confirm', action: 'click->confirm#call' } do %>
      <i class="bi bi-trash"></i>
    <% end %>

    <%= button_to store_update_img_path(address.store, address_id: address), title: "Создать картинки",
                  class: 'loader-btn mt-3 mt-md-0 btn btn-success btn-sm btn-create-img',
                  data: { controller: 'btn_preloader', action: 'click->btn_preloader#call' } do %>
      <span>Создать</span>
    <% end %>

    <%= button_to 'Обновить', store_update_img_path(address.store, address_id: address, clean: true),
                  class: 'mt-3 mt-md-0 btn btn-danger btn-sm btn-update-img', title: "Пересоздать картинки",
                  data: { confirm: 'Вы уверены, что хотите удалить все старые картинки данного адреса и создать новые?',
                          controller: 'confirm', action: 'click->confirm#call' } %>

    <%= link_to store_streets_path(store_id: address.store, address_id: address), title: t('buttons.streets'),
                  class: 'mt-3 mt-md-0 btn btn-primary btn-sm btn-street', data: { turbo_prefetch: false } do %>
      <i class="bi bi-signpost"></i><span><%= t('buttons.streets') %></span>
    <% end %>

    <% if address.streets.any? %>
      <%= link_to  store_map_path(store_id: address.store, address_id: address), title: 'Отобразить на карте покрытие адреса',
                   class: 'mt-3 mt-md-0 btn btn-primary btn-sm', data: { turbo_prefetch: false } do %>
        <i class="bi bi-geo-alt"></i>
      <% end %>
    <% end %>
  </div>
</li>
