<li class="list-group-item list-group-item-action">
  <%= form_with(model: address, url: address_path(address), method: :patch, format: :turbo_stream) do |form| %>
    <div class="row">
      <div class="col-12 mb-3">
        <%= form.label :store_address, 'Адрес', class: 'form-label' %>
        <%= form.text_area :store_address, value: address.store_address, size: '50x1', class: 'form-control', style: 'width: 100%' %>
      </div>

      <% if address.image.attached? %>
        <div class="col-12 col-md-1" style="word-wrap: break-word;">
          <% if address.layer.blob.content_type.match?(/font/) %>
            <%= address.layer.blob.filename %>
          <% else %>
            <%= image_tag url_for(address.image), class: 'img-fluid', style: 'max-height: 100px;' %>
          <% end %>
        </div>
      <% end %>

      <div class="col-12 col-md-3">
        <%= form.label :image, 'Указать изображение или шрифт', class: 'form-label' %>
        <%= form.file_field :image, class: 'form-control' %>
      </div>

      <div class="col-12 col-md-4">
        <%= form.label :slogan, 'Слоган', class: 'form-label' %>
        <%= form.text_field :slogan, value: address.slogan, class: 'form-control', style: 'width: 100%' %>
      </div>

      <div class="col-12 col-md-4">
        <%= form.label :slogan_params, 'slogan_params', class: 'form-label' %>
        <%= form.text_area :slogan_params, size: '50x1', class: 'form-control', style: 'width: 100%' %>

      </div>

      <div class="col-12 col-md-1">
        <%= form.check_box :active, class: 'form-check-input', id: 'active-checkbox' %>
        <%= form.label :active, class: 'form-check-label', for: 'active-checkbox' %>
        <%= form.submit 'Edite', class: 'btn btn-warning', style: 'width: 100%; padding: 2px;' %>
      </div>
    </div>
  <% end %>
</li>