<%= form_with(model: address, url: url, method: method) do |form| %>
  <div class="row">
    <div class="col-12 mb-3">
      <%= form.label :city, 'Адрес', class: 'form-label', style: "font-weight: bold;" %>
      <%= form.text_field :city, value: address.city, class: 'form-control' %>
      <% if method == :patch && address.streets.blank? %>
        <p class="text-danger mb-0" style="font-size: 0.8rem;">
          Отсутствуют улицы для данного города! Добавьте пожалуйста как минимум одну улицу.
        </p>
      <% end %>
    </div>

    <div class="col-12 mb-3">
      <div class="row">
        <div class="col-12 col-md-10 mb-3 mb-md-0">
          <%= form.label :slogan_params, class: 'form-label' %>
          <%= form.text_field :slogan_params, value: address.slogan_params.present? ? address.slogan_params : '{}',
                              class: 'form-control', placeholder: '{ row: 300, pos_x: 800, pos_y: 120, column: 100 }' %>
        </div>

        <div class="col-12 col-md-2">
          <%= form.label :total_games, class: 'form-label' %>
          <%= form.select :total_games, [100, 300, 500, 800, 1000],
                          { selected: address.total_games || 1000 }, { class: 'form-select' } %>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-1" style="word-wrap: break-word;">
      <% if method == :patch %>
        <div style="max-height: 70px; overflow: hidden; color: green;">
          <% if address.image.attached? %>
            <% if address.image.blob.content_type.match?(/font/) %>
              <%= address.image.blob.filename %>
            <% else %>
              <%= image_tag url_for(address.image), class: 'img-fluid', style: 'max-height: 100px;' %>
            <% end %>
          <% else %>
            <span style="color: red;">Файл не указан!</span>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="col-12 col-md-5">
      <%= form.label :image, 'Указать изображение или шрифт', class: 'form-label' %>
      <%= form.file_field :image, class: 'form-control', accept: 'image/jpeg, image/png, image/webp, font/ttf' %>
    </div>

    <div class="col-12 col-md-6">
      <%= form.label :slogan, 'Слоган', class: 'form-label' %>
      <%= form.text_field :slogan, value: address.slogan, class: 'form-control' %>
    </div>

    <div class="col-12 col-md-11 mb-3">
      <%= form.label :description, 'Описание', class: 'form-label' %>
      <%= form.text_area :description, size: '50x1', class: 'form-control' %>
    </div>

    <div class="col-12 col-md-1 mt-0 mt-md-2 d-flex d-md-block justify-content-between">
      <div>
        <%= form.check_box :active, class: 'form-check-input', id: "active-checkbox-#{address.id}" %>
        <%= form.label :active, class: 'form-check-label', for: "active-checkbox-#{address.id}" %>
      </div>
      <%= form.submit method == :patch ?  'Save' : 'Add',
                      class: "btn #{method == :patch ? 'btn-warning' : 'btn-primary'} mt-md-2 mt-0 btn-sm" %>
    </div>
  </div>
<% end %>