<li class="list-group-item list-group-item-action">
  <h3>Новый слой</h3>
  <%= form_with(model: @address, url: addresses_path, method: :post) do |form| %>
    <div class="row">
      <div class="col-12 col-md-3">
        <%= form.label :store_address, 'Адрес', class: 'form-label' %>
        <%= form.text_field :store_address, class: 'form-control', style: 'width: 100%' %>
      </div>

      <div class="col-12 col-md-2">
        <%= form.label :image, 'Картинка или шрифт', class: 'form-label' %>
        <%= form.file_field :image, class: 'form-control' %>
      </div>

      <div class="col-12 col-md-2">
        <%= form.label :slogan, 'Слоган', class: 'form-label' %>
        <%= form.text_field :slogan, class: 'form-control', style: 'width: 100%' %>
      </div>

      <div class="col-12 col-md-4">
        <%= form.label :slogan_params, 'layer_params', class: 'form-label' %>
        <%= form.text_area :slogan_params, size: '50x1', class: 'form-control', style: 'width: 100%' %>
      </div>

      <div class="col-12 col-md-1">
        <%= form.check_box :active, class: 'form-check-input' %>
        <%= form.label :active, class: 'form-check-label' %>

        <%= form.submit 'Add', class: 'btn btn-primary', style: 'width: 100%; padding: 2px;' %>
      </div>
    </div>
  <% end %>
</li>