<%= turbo_frame_tag @store do %>
  <ul class="list-group">
    <% @auto_load.each do |key, val| %>
      <li class="list-group-item list-group-item-action">
        <div class="row" style="overflow: hidden;">
          <% if val.is_a?(Array) %>
            <div class="col-6 col-md-3">
              <h5><%= t("avito.autoload.#{key}") %>:</h5>
            </div>
          <% else %>
            <div class="fw-bold col-6 col-md-3">
              <%= t("avito.autoload.#{key}") %>:
            </div>
            <div class="col-6 col-md-9">
              <% if key == 'autoload_enabled' %>
                <%= val == true ? 'Включено' : 'Отключено' %>
              <% elsif key == 'upload_url' %>
                <%= link_to val, val, title: t("avito.autoload.#{key}") %>
              <% else %>
                <%= val %>
              <% end %>
            </div>
          <% end %>
        </div>
      </li>
    <% end %>

    <% @auto_load['schedule'].first.each do |k, v| %>
      <li class="list-group-item list-group-item-action">
        <div class="row">
          <div class="fw-bold col-6 col-md-3">
            <%= t("avito.autoload.#{k}") %>:
          </div>
          <div class="col-6 col-md-9">
            <% if k == 'weekdays' %>
              <%= v.map { |i| Avito::DashboardHelper::WEEKDAYS[i][:name] }.join(', ') %>
            <% elsif v.is_a?(Array) %>
              <%= v.sort.map { |i| "#{i}.00-#{i+1}.00" }.join(', ') %>
            <% else %>
              <%= v %>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>

  <%= link_to 'Edit', store_avito_autoload_edit_path(@store),
              data: { turbo_prefetch: false }, class: 'mt-3 btn btn-warning' %>
<% end %>
