<ul class="list-group report-items mb-3">
  <% @items['items'].each do |item| %>
    <%= render partial: '/avito/reports/item', locals: { item: item } %>
  <% end %>
</ul>

<% if @items['meta']['pages'] > 1 %>
  <nav aria-label="Page navigation items">
    <ul class="pagination">
      <% paginator(@items['meta']['pages']-1).each do |page| %>
        <li class="page-item<%= ' disabled' if page.is_a?(String) %><%= ' active' if page == params['page'].to_i %>">
          <% if page != params['page'].to_i %>
            <%= link_to "/stores/#{@store.id}/avito/reports/#{@items['report_id']}?page=#{page}",
                        data: { turbo_prefetch: false, turbo_frame: "reports" }, class: "page-link" do %>
              <%= page.is_a?(String) ? page : page.to_i + 1 %>
            <% end %>
          <% else %>
            <a class="page-link"><%= page.to_i + 1 %></a>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
<% end %>

<div class="mb-3">
  <% @items['meta'].each do |k, v| %>
    <span class="px-2"><%= t("avito.autoload.report.#{k}") + ": #{v}" %></span>
  <% end %>
</div>