<div class="container">
  <h1>Другие объявления:</h1>
  <a href="<%= new_product_path %>" class="btn btn-success">Add</a>

  <div style='display: inline-block;'>
    <%= button_to 'Создать картинки', update_products_img_path,
                  method: :post, class: 'loader-btn mt-3 mt-md-0 btn btn-success',
                  data: { controller: 'btn_preloader', action: 'click->btn_preloader#call' }%>
  </div>

  <div style='display: inline-block;'>
    <%= form_with(url: update_products_img_path(clean: true)) do |form| %>
      <%= form.submit 'Обновить картинки', class: 'mt-3 mt-md-0 btn btn-dark',
                      data: { confirm: 'Вы уверены, что хотите удалить все старые картинки данного адреса и создать новые?',
                              controller: 'confirm', action: 'click->confirm#call' }%>
    <% end %>
  </div>

  <ul class="list-group mt-3">
    <%= render @products %>
  </ul>
</div>
