<div class="left-bar hidden-left-bar" data-controller="collapse" >
  <div>
    <div class="store-name mb-3">
      <%= link_to @store.manager_name, store_path(@store), data: { turbo_prefetch: false },
                  title: "Перейти к управлению магазином #{@store.manager_name}" %>
    </div>

    <ul class="left-bar-menu">
      <li>
        <%= active_link_to store_avito_path(params[:store_id]),
                           data: { turbo_prefetch: false }, active: :exclusive do %>
          <i class="bi bi-kanban"></i>
          <span class="title">Инфо</span>
        <% end %>
      </li>

      <li>
        <%= active_link_to store_avito_reports_path(params[:store_id]),
                           data: { turbo_prefetch: false }, active: :exclusive do %>
          <i class="bi bi-list-task"></i>
          <span class="title">Отчеты</span>
        <% end %>
      </li>

      <li>
        <%= active_link_to store_avito_items_path(params[:store_id]),
                           data: { turbo_prefetch: false }, active: :exclusive do %>
          <i class="bi bi-bag-check"></i>
          <span class="title">Объявления</span>
        <% end %>
      </li>

      <li>
        <%= active_link_to store_avito_chats_path(params[:store_id]),
                           data: { turbo_prefetch: false }, active: :exclusive do %>
          <i class="bi bi-chat-dots"></i>
          <span class="title">Сообщения</span>
        <% end %>
      </li>

      <li>
        <%= active_link_to store_avito_reviews_path(params[:store_id]),
                           data: { turbo_prefetch: false }, active: :exclusive do %>
          <i class="bi bi-chat-heart"></i>
          <span class="title">Отзывы</span>
        <% end %>
      </li>
    </ul>

    <%= tag.div class: 'collapse-bar-button', data: { action: 'click->collapse#call' } do %>
      <i class="bi bi-arrow-right-square"></i>
    <% end %>
  </div>
</div>
