<div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <% if user_signed_in? %>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">OpenPS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="<%= games_path %>">Games</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= settings_path %>">Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= stores_path %>">Stores</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= products_path %>">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= google_sheets_path %>">Feeds</a>
            </li>
          </ul>

          <div style="display: flex; align-items: center;">
            <div style="margin-right: 5px;">
              Hello<span style="font-weight: bold;"> <%= current_user.email %></span>!
            </div>
            <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </nav>
  <% else %>
    <%= button_to "Sign in", new_user_session_path, class: 'btn btn-primary' %>
  <% end %>
</div>
